// ╔══════════════════════════╗
// ║ Options                  ║
// ╚══════════════════════════╝

// Enable video
$enableVideo: true;

// Custom background
$enableCustomBackgroundImage: true;
$customBackgroundImageUrl: url(https://images8.alphacoders.com/111/1115544.png);

// Blur effect
$enableBlur: true;