// ╔══════════════════════════╗
// ║ Options                  ║
// ╚══════════════════════════╝

// Enable video
$enableVideo: true;

// Custom background
$enableCustomBackgroundImage: true;
$customBackgroundImageUrl: url(https://github.com/dxnst/nord-wallpapers/blob/master/arctic-landscape.png?raw=true);

// Blur effect
$enableBlur: true;