@import "../Customize.scss";

#qpAnimeContainer {
	margin-bottom: 80px;
	> div:first-child {
		padding: 0;
		width: 230px;
	}
}

#qpHiderText {
	display: none;
}

// Disable duplicated background
#gameChatPage > div.col-xs-9 {
	background-image: none;
}

#gameContainer {
	background-image: if(
		$enableCustomBackgroundImage,
		$customBackgroundImageUrl,
		url(../img/backgrounds/normal/bg-x1.jpg)
	);
}