@import "../Ressources/macros.scss";

#gameChatContainer {
	@include blur;
	height: 328px;
	position: fixed;
	bottom: 46.5vh;
  right: 5px;
	width: 426px;
}

#gcChatMenu {
	height: 25px;
	h5 {
		font-size: 14px;
		margin: 5px 0;
		width: 105%;
	}
}

#gcMessageContainer {
	height: calc(100% - 23px);
	li {
		padding: 3px 0 3px 3px;
	}
	span {
		font-size: 14px;
	}
}

.gcList > li:nth-child(2n) {
	@include blursecond;
}

#gcEmojiPickerOuterContainer {
	right: 20px;
}


#gcEmojiPickerContainer {
	right: -175px;
}

#gcEmojiPickerButton > i {
	color: #d9d9d9;
}

.gcInputContainer {
	height: 35px;
	> .textAreaContainer {
		width: calc(100% - 10px);
	}
}