.topRightBackButton {
	left: auto;
	right: 0;
	top: 30px;
	position: fixed;
}

#qpReturnToLobbyButton {
	left: auto;
	right: 110px;
}

#qpJoinButton {
	left: auto;
	right: 110px;
}

#qpPauseButton {
	left: auto;
	right: 165px;
}