.topRightBackButton {
	left: auto;
	right: 0;
	top: 30px;
}

#qpReturnToLobbyButton {
	left: auto;
	right: 0;
}

#qpJoinButton {
	left: auto;
	right: 110px;
}

#qpPauseButton {
	left: auto;
	right: 190px;
}