@import "../Ressources/macros.scss";

#qpAnswerInputContainer {
	z-index: 50;
	position: fixed;
	width: 426px;
	right: 4px;
	top: 15vh;
}

.awesomplete > ul.ps {
	max-height: 650px;
}

#qpAnswerInputContainer > div.awesomplete > ul {
	@include blur;
}