@import "../Customize.scss";

#qpVideosUserHidden {
	display: none;
}

#qpVideoContainer {
	display: if($enableVideo, block, none);
}

#qpVideoContainerInner {
	display: if($enableVideo, block, none);
}