#qpOptionContainer {
	height: 28px;
	right: -430px;
	.qpMenuItem {
		margin-top: 2px;
	}
}

#qpQualityList {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0;
	margin-bottom: 5px;
}
#qpVolume {
	margin-top: 2px;
}